.app__config {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}
.app__input {
    position: relative;
}

.app__input span {
    position: absolute;
    top: calc(100% + 4px);
    font-size: 10px;
    right: 0;
    left: 0;
    text-align: center;
}
